/* .listItem {
  width: 60px;
}
.imageBox {
  width: 60px;
  height: 64px;
}
.customBadge {
  width: 22px;
  height: 22px;
  background: #c71b1b;
  border-radius: 13px;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: monospace;
  right: -2px;
  top: -3px;
}

.subHeader {
  color: white;
  color: #4a4a4a;
  font-weight: 500;
  font-family: system-ui;
} */
